$background:#E6EBF1;

$grey : #E6EBF1;
$blueDark: rgb(19, 93, 153);
$blue: #1873C0;
$lightBlue: #3498db;

$green:#27ae60;
$lightGreen:#2ecc71;

$purple:#8e44ad;
$lightPurple:#9b59b6;

$white:#ecf0f1;
$darkWhite: #bdc3c7;

$red:#c0392b;
$lightRed: #e74c3c;

$snow: #ecf0f1;