@import "../colors.scss";
@import "../base.scss";

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.sidebar {
  background: #168dda;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left:0;
  height: 100%;
  width: 250px;
}

.header {
  color:#FFF;
  display:flex;
  height: 60px;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}
.nav_list {
  list-style: none;
  margin:0px;
  padding: 0px;
}
.nav_item a {
  display:flex;
  border-left: 5px transparent solid;
  color:rgba(255,255,255,0.5);
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  transition: all ease 0.3s;
}
.nav_item a:hover {
  color:rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.05);
}
.nav_item a.selected {
  border-left: 5px #0a598d solid;
  color:rgba(255,255,255,1);
  background: rgba(0,0,0,0.1);
}


.NavIcon {
  height: 20px;
  width: 20px;
}
.NavText {
  align-self: center;
  padding-left: 10px;
}
.NavIconHome {
  background: url("/static/images/icons/dash-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconNotification {
  background: url("/static/images/icons/notification-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconPrayer {
  background: url("/static/images/icons/mosque-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconWP {
  background: url("/static/images/icons/wp-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconInsights {
  background: url("/static/images/icons/insights-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconUsers {
  background: url("/static/images/icons/users-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconSettings {
  background: url("/static/images/icons/settings-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.NavIconLogout {
  background: url("/static/images/icons/logout-icon.png");
  background-size: 20px;
  filter: invert(100%);
}
.nav_item a .NavIcon {
  filter: invert(100%) opacity(0.5);
}
.nav_item a:hover .NavIcon {
  filter: invert(100%) opacity(0.9);
}
.nav_item a.selected .NavIcon {
  filter: invert(100%) opacity(1);
}
.content {
  display: flex;
  clear: both;
  color:#044e7c;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 250px;
}