@import "../colors.scss";
@import "../base.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 350px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  min-height: 200px;
  transition: all ease 0.3s;
  width: 320px;
}
.box:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
.boxWrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding:26px 24px 46px;
  width: 320px;
}
.form {
  box-sizing: border-box;
  width: 320px;
}
.inputtext {
  background: #FBFBFB;
  border: 1px #DDD solid;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;

  padding: 10px;
  width: 270px;
}
.inputtext:focus {
  border: 1px $blue solid;
}
.blueButton {
  background:$blue;
  border:0px;
  border-radius: 3px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.25);
  box-sizing: border-box;
  cursor:pointer;
  color:white;
  outline: none;
  padding: 10px;
  transition: all ease 0.3s;
  width: 270px;
}
.blueButton:hover {
  background:$lightBlue;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}

.redButton {
  background:#e74c3c;
  border: 0px;
  border-radius: 3px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.25);
  box-sizing:border-box;
  cursor:pointer;
  color:white;
  outline: none;
  padding: 10px;
  width: 270px;
  transition: all ease 0.3s;
}
.redButton:hover {
  background:#c44132;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}

.forgotLink {
  color:#555;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
}
.forgotLink:hover {
  color:$blue;
}