.dashmain {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  clear: both;
  width: 100%;
}
.header {
  background:#34495e;
  color:#FFF;
  display: flex;
  box-sizing: border-box;
  padding-left: 20px;
  height: 60px;
  width: 100%;
}
.actionHeader {
  display: flex;
  box-sizing: border-box;
  border-top: 1px #EEE solid;
  padding: 15px;
  width: 100%;
}
.actionHeader a {
  margin-right: 20px;
}

// Home tab
.prayerSection {
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 0 20px;
  text-align: center;
  transition: all ease 0.3s;
  width:136px;
}
.prayerSection:hover {
  background: #167a40;
}
.prayerSection span {
  display: block;
  font-size: 25px;
  padding-bottom: 20px;
  white-space: nowrap;
}

.wp_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}