@import "../../../colors.scss";
.tile {
  background: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  min-width: 300px;
}
.tileDark {
  color:white;
}
.tileLight {
  color:inherit;
}

.tileHeader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1;
  height: 50px;
  padding: 15px;
  width: 100%;
}
.tileTitle {
  font-size: 22px;
  font-weight: 400;
}

.tileTitleDivider {
  border-bottom: 1px  solid;
}
.tileContent {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tileStripe {
  background: #f6f9fc;
  display: flex;
  width: 100%;
}